$bg-color: rgb(41, 40, 40);
$wrapper-color: rgb(9, 0, 50);
$info-color: rgb(0, 0, 0);
$text-color: rgb(200, 200, 200);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $bg-color;
    font-size: 10px;
}

// timer
h2#countdown {
    position: absolute;
    left: 40%;
    top: 5%;
    color: $text-color;
    font-size: 2.75rem;
}
#timer {
    @extend h2#countdown; // inherit the styling of h2#countdown
    top: 10%;
}

// navigation
#nav {
    position: absolute;
    right: 0;
    top: 50%;
    .arrow {
        position: relative;
        padding: 2rem;
        background-color: $wrapper-color;
        color: $text-color;
    }
    #btn {
        position: relative;
        right: 0;
        .about, .vis {
            padding: 3rem;
            font-size: 2rem;
            background-color: $info-color;
            color: $text-color;
        }
    }
    
}

//warning box 
.warning {
    position: absolute;
    padding: 10px;
    border: 2px solid #f39389;
    border-radius: 2px;
    background-color: #fbd8d4;
    color: #3b3c40;
    font-size: 1.25rem;
}

// data
#stats {
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 10%;
    background-color: $info-color;
    h3 {
        position: relative;
        margin-top: 20rem;
        font-size: 2rem;
        color: $text-color;
    }
    #gender, #age, #aggressiveness, #suspiciousness, #passiveness {
        position: relative;
        padding: 10px;
        // text-align: center;
        font-size: 1.75rem;
    }
}

// webcam wrapper
.wrapper {
    background-color: $wrapper-color;
    // #video {
    //     width: 720px;
    //     height: 520px;
    // }
    h2 {
        visibility: visible;
        position: absolute;
        margin: 0 auto;
        top : 50%;
        // left: 25%;
        color: $text-color;
        font-weight: 2rem;
        font-size: 5rem;
    }
}

//preview button 
.preview {
    position: absolute;
    bottom: 0;
    padding: 3rem;
    font-size: 2rem;
    background-color: $info-color;
    color: $text-color;
    border-radius: 2px;
}

#risk {
    text-align: center;
    font-size: 6rem;
}

img#logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
}

// database
// put the captured img at the bottom right of the canvas

.one_img {
    position: absolute;
    right: 0 !important;
    bottom: 0 !important;
    width: 200px;
}

// responsive design
@media only screen and (max-width: 600px) {
    html {
        font-size: 0.5rem;
    }
  }