* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #292828;
  font-size: 10px;
  overflow-x: hidden;
}

#consent_form {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 20%;
  left: 50%;
  background-color: #292828;
}

#consent_form #form {
  margin: 20px;
  padding: 20px;
  width: 100%;
  background-color: #090032;
  font-size: 2.5rem;
  color: #c8c8c8;
  -webkit-box-shadow: 1px 8px 12px 0 #000;
          box-shadow: 1px 8px 12px 0 #000;
}

#consent_form #form #intro_video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

#consent_form #form #intro_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#consent_form #form h3#consent_title {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

#consent_form #form p {
  padding: 20px 0;
  font-size: 1.75rem;
  line-height: 1.5;
}

#consent_form #form label {
  font-size: 2rem;
}

#consent_form #form input[type=text], #consent_form #form input[type=number] {
  width: 30%;
  padding: 10px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#consent_form #form input[type=number] {
  width: 10%;
}

#consent_form #form input[type=submit] {
  position: relative;
  left: 45%;
  padding: 10px;
}

#consent_form #form input[type=text]:focus, #consent_form #form input:focus[type=number], #consent_form #form input[type=submit]:focus {
  background-color: #ddd;
  outline: none;
}

#about_wrapper {
  -webkit-transform: transform(-50%, 50%);
          transform: transform(-50%, 50%);
  top: 0;
  width: 50%;
  height: 50%;
  background-color: white;
}

h2#countdown, #timer {
  position: absolute;
  left: 40%;
  top: 5%;
  color: #c8c8c8;
  font-size: 2.75rem;
}

#timer {
  top: 10%;
}

#nav {
  position: fixed;
  right: 0;
  top: 50%;
}

#nav .arrow {
  position: relative;
  padding: 2rem;
  background-color: #090032;
  color: #c8c8c8;
}

#nav #btn {
  position: relative;
}

#nav #btn .vis {
  display: block;
  padding: 2.5rem;
  font-size: 2rem;
  background-color: black;
  color: #c8c8c8;
}

.warning {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  border: 2px solid #f39389;
  border-radius: 2px;
  background-color: #fbd8d4;
  color: #3b3c40;
  font-size: 1.25rem;
}

#stats {
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 10%;
  background-color: black;
}

#stats h3 {
  position: relative;
  margin-top: 20rem;
  font-size: 2rem;
  color: #c8c8c8;
}

#stats #gender, #stats #age, #stats #aggressiveness, #stats #suspiciousness, #stats #passiveness {
  position: relative;
  padding: 10px;
  font-size: 1.75rem;
}

.wrapper {
  background-color: #090032;
}

.wrapper h2 {
  visibility: visible;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  color: #c8c8c8;
  font-weight: 2rem;
  font-size: 5rem;
}

.preview {
  position: absolute;
  bottom: 0;
  padding: 3rem;
  font-size: 2rem;
  background-color: black;
  color: #c8c8c8;
  border-radius: 2px;
}

#risk {
  bottom: 0;
  text-align: center;
  font-size: 6rem;
}

img#logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}

.one_img {
  position: absolute;
  right: 0 !important;
  bottom: 0 !important;
  width: 200px;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 1vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 0.9vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 0.8vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 0.75vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 0.65vw;
  }
}
/*# sourceMappingURL=styles.css.map */